.add-button {
  margin-bottom: 5px;
  float: inline-end;
}
.add-button button {
  color: black;
  font-weight: 600;
  padding: 5px 15px;
  cursor: pointer;
}

.students-table-layout {
  width: 100%;
}
.option-buttons {
  display: flex;
  justify-content: center;
}
.option-buttons button {
  margin-left: 10px;
  padding: 5px 15px;
  cursor: pointer;
}
#students-table {
  width: 100%;
  border-collapse: collapse;
  letter-spacing: 1px;
}

.table {
  text-align: center;
}

.student-status {
  margin-left: auto;
  margin-right: auto;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.student-status.online {
  border: 1px solid green;
  background-color: rgb(0, 85, 0);
}

.student-status.offline {
  border: 1px solid black;
  background-color: rgb(83, 83, 83);
}

input[type="checkbox"] {
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;
}

.remove-student-warning-container {
  font-size: 1.2rem;
  display: block;
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  z-index: 2;
  height: 250px;
  width: 450px;
  align-items: center;
  justify-content: center;
}

#rm-warning-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 10px;
}

#warning-caption {
  font-size: larger;
  margin-top: 5px;
  margin-left: 20px;
  font-weight: bold;
}

#warning-close-button {
  padding: 5px 15px;
}

#rm-warning-wrapper {
  display: grid;
  place-content: center;
  padding: 20px;
  border: 1px solid #000;
  height: 50%;
  border-left: none;
  border-right: none;
}

#rm-warning-footer {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-top: 10px;
  margin-right: 5px;
}

#warning-confirmation-buttons {
  display: flex;
  justify-content: center;
}

#warning-confirmation-buttons button {
  font-weight: 500;
  color: black;
  margin-left: 10px;
  margin-right: 10px;
}
.add-student-container {
  font-size: 1.2rem;
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  z-index: 2;
  height: 560px;
  width: 450px;
  align-items: center;
  justify-content: center;
}

#add-student-form {
  width: inherit;
  height: inherit;
}

.add-student-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-bottom: 10%;
}

#add-student-close {
  display: flex;
  padding: 10px;
}

#add-student-close button {
  padding: 5px 15px;
}
#add-student-header-caption {
  font-size: larger;
  margin-top: 30px;
  margin-left: 20px;
  font-weight: bold;
}

.add-student-wrapper {
  display: flex;
  padding-top: 50px;
  padding-bottom: 100px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  border-left: none;
  border-right: none;
}

.add-student-blank {
  display: grid;
  place-content: center;
}
.add-student-blank label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
/*  */
.add-student-blank select {
  width: 10px;
  margin-left: 50px;
}

.add-student-blank input {
  width: 200px;
  margin-left: 10px;
}

.add-student-footer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: right;
  margin-left: auto;
}

#adding-confirmation-buttons {
  display: flex;
  place-items: center;
}

#adding-confirmation-buttons button {
  font-size: small;
  margin-right: 10px;
  padding: 5px 15px;
}

.table-pagination {
  margin-top: 40px;
  display: grid;
  place-content: center;
}

.pagination {
  display: inline-block;
}

.pagination a {
  text-decoration: none;
  color: black;
  float: left;
  padding: 6px 12px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #787a78;
  color: white;
  border: 1px solid #232723;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.pagination a:visited {
  color: #000;
}

@media screen and (max-width: 600px) {
  .add-button button {
    padding: 5px 15px;
  }

  .wrapper {
    display: block;
  }

  .remove-student-warning-container {
    display: block;
    height: 220px;
    width: 270px;
  }

  #rm-warning-wrapper {
    display: grid;
    place-content: center;
    padding-bottom: 10px;
    height: 55%;
  }

  #rm-warning-footer {
    height: 30px;
  }
  #rm-warning-footer button {
    padding: 4px 10px;
    margin-bottom: 10px;
  }

  .add-student-container {
    height: 440px;
    width: 250px;
  }

  #add-student-close button {
    padding: 1px 5px;
  }
  #add-student-header-caption {
    font-size: 20px;
    margin-top: 30px;
    margin-left: 20px;
    font-weight: bold;
  }

  .add-student-wrapper {
    height: 60%;
    font-size: 14px;
  }

  .add-student-blank {
    display: grid;
    margin-top: 30px;
    width: 250px;
    height: 190px;
  }
  .add-student-blank label {
    margin-top: 10px;
    margin-left: 10px;
    width: 220px;
    height: 32px;
  }

  .add-student-blank input {
    font-size: 16px;
    width: 170px;
    height: 40px;
  }
  .add-student-blank select {
    font-size: 14px;
    width: 250px;
  }

  .add-student-blank input[type="date"] {
    width: 200px;
    height: 40px;
  }
  #adding-confirmation-buttons {
    height: 20%;
    margin-bottom: 10px;
  }

  #adding-confirmation-buttons button {
    font-size: 15px;
    margin-right: 15px;
    padding: 1px 5px;
  }

  .table-pagination {
    display: grid;
    place-content: center;
    width: 250px;
  }
  .table-pagination button {
    float: inline-end;
  }
}
