.tasks-content {
  padding: 20px;
}
.section-title {
  font-weight: bold;
  font-size: 25px;
}

.boards-cont {
  width: inherit;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3em;
  margin-top: 10px;
}

.task-board {
  display: grid;
  grid-template-rows: 0.5fr 3fr 1fr;
  width: 300px;
  height: 400px;
  border: 1px solid black;
  border-radius: 10px;
}

.board-title {
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  font-size: 12;
}

.task-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  padding: 10px;
  overflow-y: auto;
}

.task-list::-webkit-scrollbar {
  width: 1px;
  height: 5px;
}

.task-list::-webkit-scrollbar-track {
  background: transparent;
}

.task-list::-webkit-scrollbar-thumb {
  background: #888;
}

.task-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 20px;
}

.board-footer {
  display: flex;
  align-items: center;
}
.btn-add-task {
  background-color: inherit;
  border: none;
}

.task-wizard-cont {
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.task-wizard {
  padding: 20px;
  display: grid;
  grid-template-rows: 1fr 0.2fr;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid black;
  width: inherit;
  height: inherit;
  background: #fff;
}
.board-selection {
  display: flex;
  flex-direction: row;
  gap: 2em;
  justify-content: center;
}
/* .board-selection label { */
/* display: flex; */
/* justify-content: space-between; */
/* width: inherit; */
/* height: inherit; */
/* } */
/* .desc-label {
  display: inline-flex;
  padding-right: 2px;
} */
.labels {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.inputs {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.task-description {
  margin-left: 2px;
  width: 200px;
  height: 100px;
  padding: 10px;
  overflow-y: auto;
}

.task-description::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.task-description::-webkit-scrollbar-track {
  background: transparent;
}

.task-description::-webkit-scrollbar-thumb {
  background: #888;
}

.task-wizard-footer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 1em;
}

#btn-change-task {
  padding: 5px 15px;
  border-radius: 10px;
}
#btn-cancel-change {
  padding: 5px 15px;
  border-radius: 10px;
}
