* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: inherit;
  background-color: #f1f1f1;
}

.new-chat-room {
  width: 350px;
  height: 500px;
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.new-chat-room-form {
  padding: 20px;
  display: grid;
  justify-items: end;
  align-content: space-around;
  grid-template-rows: 1fr 4fr 0.5fr;
  border-radius: 10px;
  border: 1px solid black;
  width: inherit;
  height: inherit;
  background: #fff;
}

.new-chat-room-wizard {
  display: grid;
  grid-gap: 1em;
  grid-template-rows: 1fr 1fr 1fr 2fr;
  padding: 10px;
}
.new-chat-room-members {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
}

.available-user {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-top: 10px;
  border: 1px solid rgb(142, 140, 142);
  background-color: rgb(140, 140, 140);
  padding: 10px;
  border-radius: 10px;
  width: 250px;
  height: 50px;
}
.available-user:hover {
  border: 1px solid rgb(86, 111, 213);
  background-color: rgb(86, 111, 213);
}

.select-users {
  width: 350px;
  height: 500px;
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.select-users-form {
  /* padding: 10px; */
  display: grid;
  justify-items: end;
  align-content: space-around;
  grid-template-rows: 1fr 4fr 2fr 1fr;
  width: inherit;
  height: inherit;
  background: #fff;
}
.selected-users-title {
  width: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}
.selection-users {
  width: inherit;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  padding: 20px;
  overflow: auto;
}

.selection-users::-webkit-scrollbar {
  width: 5px;
}

.selection-users::-webkit-scrollbar-track {
  background: transparent;
}

.selection-users::-webkit-scrollbar-thumb {
  background: #888;
}
.selected-users {
  width: inherit;
  display: flex;
  flex-direction: row;

  padding: 10px;
  /* overflow: hidden; */
}
.selected-users-list {
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  gap: 2em;
}
.selected-users-list::-webkit-scrollbar {
  height: 5px;
}

.selected-users-list::-webkit-scrollbar-track {
  background: transparent;
}

.selected-users-list::-webkit-scrollbar-thumb {
  background: #888;
}
.selected-users-footer {
  width: inherit;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  padding-right: 20px;
}

.selection-border {
  border: 1px solid black;
  border-radius: 10px;
}
#btn-close-selected-users {
  padding: 5px 15px;
}

#btn-add-selected-users {
  display: flex;
  place-content: center;
  width: 50px;
  height: 40px;
}

#btn-close-new-chat-room {
  padding: 5px 15px;
}
.messages-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 70vw;
  grid-gap: 3em;
  padding-top: 20px;
}
.chats {
  display: grid;
  grid-template-rows: 0.1fr 3fr;
  grid-gap: 2em;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
  width: 300px;
  height: 500px;
  overflow: hidden;
}

.chats-title {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

#btn-new-chat {
  border: none;
  background: #ffff;
}

.chat-span {
  font-weight: bold;
  font-size: 18px;
}
.selected-chat-room {
  font-weight: bold;
  font-size: 20px;
}
.chat-rooms {
  display: grid;
  grid-gap: 1em;
  justify-content: center;
  grid-auto-rows: 40px;
  overflow: auto;
}

.chat-rooms::-webkit-scrollbar {
  width: 5px;
}

.chat-rooms::-webkit-scrollbar-track {
  background: transparent;
}

.chat-rooms::-webkit-scrollbar-thumb {
  background: #888;
}
.chat-room:hover {
  border: 1px solid rgb(170, 86, 213);
  background-color: rgb(170, 86, 213);
}

.chat-room {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-top: 10px;
  border: 1px solid rgb(142, 140, 142);
  background-color: rgb(140, 140, 140);
  padding: 10px;
  border-radius: 10px;
  width: 250px;
  height: 50px;
}

.room-active {
  border: 1px solid rgb(170, 86, 213);
  background-color: rgb(170, 86, 213);
}

.selected-chat-container {
  border-radius: 10px;
  padding: 20px;
  border: 1px solid black;
  width: 800px;
  height: 500px;
  display: grid;
  grid-template-rows: 0.5fr 0.8fr 3fr;
}

.selected-chat-members-cont {
  display: flex;
  height: 50px;
  flex-direction: row;
  gap: 1em;
}

.selected-chat-members {
  max-width: 500px;
  max-height: 100px;
  display: flex;
  flex-direction: row;
  gap: 1em;
  overflow-y: hidden;

  overflow-x: auto;
}

.selected-chat-members::-webkit-scrollbar {
  width: 1px;
  height: 5px;
}

.selected-chat-members::-webkit-scrollbar-track {
  background: transparent;
}

.selected-chat-members::-webkit-scrollbar-thumb {
  background: #888;
}
.selected-chat-messages {
  width: 100%;
  height: 250px;
}
.selected-chat::-webkit-scrollbar {
  display: none;
}

.message-sending {
  display: grid;
  grid-template-columns: 4fr 0.5fr;
  grid-gap: 1em;
  height: 55px;
  padding: 5px;
  border: 1px solid #000;
  border-radius: 10px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.user-message-container {
  padding-left: 10px;
  height: 40px;
}

.user-message {
  padding-left: 10px;
  width: 100%;
  height: 100%;
}

.btn-add-member {
  width: 30px;
  height: 25px;
  border: none;
  background-color: #ffff;
}

.send-arrow {
  display: grid;
  place-content: center;
}

#btn-send-message {
  width: 30px;
  height: 25px;
  border: none;
  background-color: #ffff;
}
.sender-profile {
  display: block;
  width: 44px;
}

.sender-image {
  width: 25px;
  height: 25px;
  margin-left: 20px;
}

.sender-message {
  display: flex;
  margin-left: 10px;
}

.students-content {
  margin-left: 15px;
  margin-top: 20px;
  width: 85%;
}

.selected-item {
  display: flex;
  justify-content: space-between;
}

.selected-chat {
  width: 100%;
  height: calc(100% - 25px);
  overflow: auto;
}

.message-cont {
  display: flex;
  padding: 20px;
}
.message {
  display: grid;
  grid-template-columns: 4fr 1fr;
  border: 1px solid #ccc;
  background-color: rgb(199, 195, 195);
  border-radius: 5px;
  width: 200px;
  max-width: 250px;
  height: auto;
  max-height: 80px;
  padding: 10px;
  margin: 10px;
}
.message-text {
  display: flex;
  word-wrap: break-word;
}
.avatar {
  height: 40px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
}
.avatar image {
  margin: 0;
}
.user-image {
  width: 25px;
  height: 25px;
}
.member-list {
  display: flex;
  flex-direction: row;
  width: 75%;
}
.chat {
  justify-content: flex-start;
}

.my {
  justify-content: flex-end;
}

@media screen and (max-width: 600px) {
  .wrapper {
    display: block;
  }

  .remove-student-warning-container {
    display: block;
    height: 220px;
    width: 270px;
  }
}
