* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: inherit;
  background-color: #f1f1f1;
  overflow: hidden;
}

#page-header-container {
  width: 100%;
  background-color: rgb(75, 72, 72);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}
#page-header-info-span {
  color: #f1f1f1;
  margin-left: 20px;
  font-size: 20px;
}

#page-header-profile {
  color: white;
  /* padding-right: 10px; */
  display: flex;
  align-items: center;
  cursor: pointer;
  min-width: 120px;
  max-width: 300px;
}

#page-header-notification {
  display: block;
  justify-content: center;
  align-items: center;
  padding: 5px;
  position: relative;
  cursor: pointer;
}

.notifcation-circle {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  background: rgb(211, 104, 104);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);
  animation: pulse 2s infinite;
  position: absolute;
  right: 2px;
  top: 0;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(211, 104, 104, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(210, 104, 104, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(210, 104, 104, 0);
  }
}

#page-header-notification:hover #mail-box {
  display: block;
}

#sub-messages-wrap {
  position: absolute;
  top: 100%;
  width: 310px;
}
#mail-box {
  display: none;
  background: #fff;
  border: 1px solid grey;
  border-top: none;
  padding: 10px;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.new-message {
  display: flex;
  margin-top: 5px;
}

.new-message:hover {
  transform: translateX(5px);
}
.sender-profile {
  display: block;
  width: 44px;
}

.sender-img {
  width: 25px;
  height: 25px;
  margin-left: 20%;
}

.sender-message {
  display: flex;
  margin-left: 10px;
}

/* #authorized-user { */
/* display: block; */
/* padding: 5px; */
/* } */

.user {
  display: block;
  padding: 5px;
}

#page-header-username {
  margin-top: auto;
  margin-bottom: auto;
}

.user:hover #user-options {
  display: block;
}

.user .user-name {
  display: flex;
  min-width: 100px;
  max-width: 200px;
  justify-content: center;
}

#user-options {
  display: none;
  position: absolute;
  top: 100%;
  width: 130px;
  height: auto;
  border: 1px solid #000;
  background-color: #fff;
  border-top: none;
}
#user-options-links li {
  list-style-type: none;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 20px;
  color: #000;
}

.login {
  width: 300px;
  height: 400px;
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.login-form {
  padding: 20px;
  display: grid;
  justify-items: end;
  align-content: space-around;
  grid-template-rows: 0.5fr 4fr 0.5fr;
  border-radius: 10px;
  border: 1px solid black;
  width: inherit;
  height: inherit;
  background: #fff;
}

#btn-close-login {
  padding: 5px 15px;
}

.sing-up {
  width: 300px;
  height: 400px;
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.sing-up-form {
  padding: 20px;
  display: grid;
  justify-items: end;
  align-content: space-around;
  grid-template-rows: 0.5fr 4fr 0.5fr;
  border-radius: 10px;
  border: 1px solid black;
  width: inherit;
  height: inherit;
  background: #fff;
}

.sing-up-form button {
  padding: 5px 15px;
}

.sender-message::before {
  content: "";
  border-left: 10px solid transparent;
  border-bottom: 10px solid gray;
  margin-top: auto;
  margin-bottom: auto;
}
.message-rectangle {
  width: 210px;
  height: auto;
  border: 1px solid rgb(68, 68, 68);
  border-radius: 10px;
  background-color: gray;
  padding: 5px;
}

#page-header-profile-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
  margin-right: 1vh;
}

.wrapper {
  display: flex;
  position: relative;
}

.wrapper .nav-sidebar-menu {
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 50px;
  padding: 10px;
  width: 120px;
}

.nav-sidebar-menu .nav-links a {
  text-decoration: none;
  color: black;
}

.nav-sidebar-menu ul li {
  list-style-type: none;
  margin-bottom: 10px;
  font-size: 18px;
}

.students-content {
  margin-left: 15px;
  margin-top: 20px;
  width: 85%;
}

.selected-item {
  display: flex;
  justify-content: space-between;
}

#students-title {
  font-weight: bold;
  font-size: 25px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 1;
  transition: all 0.5s;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

@media screen and (max-width: 600px) {
  .wrapper {
    display: block;
  }
}
