* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: inherit;
  background-color: #f1f1f1;
}

#page-header-container {
  width: 100%;
  background-color: rgb(75, 72, 72);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

#page-header-info-span {
  color: #f1f1f1;
  margin-left: 20px;
  font-size: 20px;
}

#page-header-profile {
  color: white;
  padding-right: 10px;
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  cursor: pointer;
}

#page-header-notification {
  display: block;
  justify-content: center;
  align-items: center;
  padding: 5px;
  position: relative;
  cursor: pointer;
}

.notifcation-circle {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  background: rgb(211, 104, 104);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);
  animation: pulse 2s infinite;
  position: absolute;
  right: 2px;
  top: 0;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(211, 104, 104, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(210, 104, 104, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(210, 104, 104, 0);
  }
}

#page-header-notification:hover #mail-box {
  display: block;
}

#sub-messages-wrap {
  position: absolute;
  top: 100%;
  width: 310px;
}
#mail-box {
  display: none;
  background: #fff;
  border: 1px solid grey;
  border-top: none;
  padding: 10px;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.new-message {
  display: flex;
  margin-top: 5px;
}

.new-message:hover {
  transform: translateX(5px);
}
.sender-profile {
  display: block;
  width: 44px;
  /* justify-content: center; */
  /* align-items: center; */
}

.sender-img {
  width: 25px;
  height: 25px;
  margin-left: 20%;
}

.sender-message {
  display: flex;
  margin-left: 10px;
}

#authorized-user {
  display: block;
  padding: 5px;
}

#page-header-username {
  margin-top: auto;
  margin-bottom: auto;
}

#authorized-user:hover #user-options {
  display: block;
}

#authorized-user .user-name {
  display: flex;
}

#user-options {
  display: none;
  position: absolute;
  top: 100%;
  width: 130px;
  height: auto;
  border: 1px solid #000;
  background-color: #fff;
  border-top: none;
}
#user-options-links li {
  list-style-type: none;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 20px;
  color: #000;
}

/* .message-triangle {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-bottom: 10px solid grey;
  background-color: #fff;
  margin-top: 5%;
} */
.sender-message::before {
  content: "";
  border-left: 10px solid transparent;
  border-bottom: 10px solid gray;
  margin-top: auto;
  margin-bottom: auto;
}
.message-rectangle {
  width: 210px;
  height: auto;
  border: 1px solid rgb(68, 68, 68);
  border-radius: 10px;
  background-color: gray;
  padding: 5px;
}

/* .sender-profile * {
  padding: 10px;
  margin-top: 10px;
} */

#page-header-profile-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
  margin-right: 1vh;
}

.wrapper {
  display: flex;
  position: relative;
}

.wrapper .nav-sidebar-menu {
  margin-top: 10px;
  margin-left: 15px;
  padding: 10px;
  width: 120px;
}

.nav-sidebar-menu .nav-links a {
  text-decoration: none;
  color: black;
}

.nav-sidebar-menu ul li {
  list-style-type: none;
  margin-bottom: 10px;
  font-size: 18px;
}

.students-content {
  margin-left: 15px;
  margin-top: 20px;
  overflow: hidden;
  width: 90%;
}

.students-content .selected-item h2 {
  display: block;
  float: left;
}

#students-title {
  font-weight: bold;
  font-size: 25px;
}

.add-button {
  margin-bottom: 5px;
  float: inline-end;
}
.add-button button {
  padding: 5px 15px;
  cursor: pointer;
}

.students-table-layout {
  width: 100%;
  overflow-x: auto;
}
.option-buttons {
  /* width: ; */
  /* padding: 5px 5px; */
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
.option-buttons button {
  margin-left: 10px;
  padding: 5px 15px;
  cursor: pointer;
}
#students-table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid rgb(0, 0, 0);
  letter-spacing: 1px;
}

.students-table-layout th,
td {
  border: 1px solid rgb(0, 0, 0);
  padding: 12px 10px;
  text-align: center;
}

.student-status {
  margin-left: auto;
  margin-right: auto;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  /* background-color: rgb(85, 0, 71); */
}

.student-status.online {
  border: 1px solid green;
  background-color: rgb(0, 85, 0);
}

.student-status.offline {
  border: 1px solid black;
  background-color: rgb(83, 83, 83);
}

input[type="checkbox"] {
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;
}

.remove-student-warning-container {
  font-size: 1.2rem;
  display: block;
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  z-index: 2;
  height: 270px;
  width: 450px;
  align-items: center;
  justify-content: center;
}

#rm-warning-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 10px;
}

#warning-caption {
  font-size: larger;
  margin-top: 5px;
  margin-left: 20px;
  font-weight: bold;
}

#warning-close-button {
  padding: 5px 15px;
}

#rm-warning-wrapper {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  justify-content: center;
  border: 1px solid #000;
  border-left: none;
  border-right: none;
}

#rm-warning-footer {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 5px;
}

#warning-confirmation-buttons {
  display: flex;
  justify-content: center;
}

#warning-confirmation-buttons button {
  font-size: small;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px 15px;
}
.add-student-container {
  font-size: 1.2rem;
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  z-index: 2;
  height: 60vh;
  width: 50vh;
  align-items: center;
  justify-content: center;
}

.add-student-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-bottom: 10%;
}

#add-student-close {
  display: flex;
  padding: 10px;
}

#add-student-close button {
  padding: 5px 15px;
}
#add-student-header-caption {
  font-size: larger;
  margin-top: 30px;
  /* margin-bottom: auto; */
  margin-left: 20px;
  font-weight: bold;
}

.add-student-wrapper {
  display: flex;
  padding-top: 50px;
  padding-bottom: 100px;
  /* margin-bottom: 20px; */
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  border-left: none;
  border-right: none;
}

.add-student-labels {
  display: flex;
  flex-direction: column;
  font-size: larger;
}
.add-student-labels * {
  margin-top: 10px;
  margin-bottom: auto;
}

.add-student-inputs {
  display: flex;
  flex-direction: column;
}

.add-student-inputs * {
  margin-left: 10px;
  margin-top: 18px;
  margin-bottom: auto;
}

.add-student-footer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: right;
  margin-left: auto;
}

#adding-confirmation-buttons {
  display: flex;
  justify-content: center;
}

#adding-confirmation-buttons button {
  font-size: small;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px 15px;
}

.table-pagination {
  margin-top: 40px;
  text-align: center;
}

.pagination {
  display: inline-block;
}

.pagination a {
  text-decoration: none;
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #787a78;
  color: white;
  border: 1px solid #232723;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.pagination a:visited {
  color: #000;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 1;
  transition: all 0.5s;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

@media screen and (max-width: 600px) {
  .add-button {
    margin-right: 5px;
  }

  .wrapper .nav-sidebar-menu {
    margin-left: 1px;
  }

  .nav-sidebar-menu .nav-links a {
    text-decoration: none;
    color: black;
    font-size: 18px;
  }

  .nav-sidebar-menu ul li {
    list-style-type: none;
    margin-bottom: 5px;
  }

  .add-button button {
    /* margin-left: 10px; */
    padding: 1px 5px;
  }

  .remove-student-warning-container {
    font-size: 20px;
    display: block;
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    z-index: 2;
    height: 200px;
    width: 270px;
    align-items: center;
    justify-content: center;
  }

  #rm-warning-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 2px;
  }

  #warning-caption {
    font-size: 20px;
    margin-top: 5px;
    margin-left: 20px;
    font-weight: bold;
  }

  #warning-close-button {
    padding: 1px 5px;
    margin-right: 5px;
  }

  #rm-warning-wrapper {
    display: flex;
    padding-left: 8px;
    padding-top: 45px;
    padding-bottom: 45px;
    justify-content: center;
    border: 1px solid #000;
    border-left: none;
    border-right: none;
    font-size: 18px;
  }

  #rm-warning-footer {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 5px;
  }

  #warning-confirmation-buttons {
    display: flex;
    justify-content: center;
  }

  #warning-confirmation-buttons button {
    font-size: small;
    margin-left: 5px;
    margin-right: 5px;
    padding: 1px 5px;
  }

  .add-student-container {
    font-size: 20px;
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    z-index: 2;
    height: 420px;
    width: 300px;
    align-items: center;
    justify-content: center;
  }

  .add-student-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-bottom: 10px;
  }

  #add-student-close {
    display: flex;
    padding: 10px;
  }

  #add-student-close button {
    padding: 1px 5px;
  }
  #add-student-header-caption {
    font-size: 20px;
    margin-top: 30px;
    margin-left: 20px;
    font-weight: bold;
  }

  .add-student-wrapper {
    display: flex;
    padding-top: 50px;
    padding-bottom: 100px;
    /* flex-direction: row; */
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    border-left: none;
    border-right: none;
  }

  .add-student-labels {
    display: flex;
    flex-direction: column;
    font-size: 18px;
  }
  .add-student-labels * {
    margin-top: 10px;
    margin-bottom: auto;
  }

  .add-student-inputs {
    display: flex;
    flex-direction: column;
    /* font-size: 18px; */
  }

  .add-student-inputs * {
    margin-left: 10px;
    margin-top: 12px;
    margin-bottom: auto;
  }

  .add-student-footer {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-left: auto;
  }

  #adding-confirmation-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  #adding-confirmation-buttons button {
    font-size: 15px;
    margin-right: 15px;
    /* margin-bottom: 20px; */
    padding: 1px 5px;
  }

  .table-pagination {
    margin-top: 40px;
    text-align: center;
  }

  .table-pagination {
    display: inline-block;
    margin-left: 120px;
    /* margin-right: auto; */
  }

  .pagination a {
    text-decoration: none;
    color: black;
    float: left;
    padding: 4px 6px;
    text-decoration: none;
    transition: background-color 0.3s;
    border: 1px solid #ddd;
    margin: 0 2px;
  }
}
