* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: inherit;
  background-color: #f1f1f1;
}

#page-header-container {
  width: 100%;
  background-color: rgb(75, 72, 72);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}
#page-header-info-span {
  color: #f1f1f1;
  margin-left: 20px;
  font-size: 20px;
}

#page-header-profile {
  color: white;
  padding-right: 10px;
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  cursor: pointer;
}

#page-header-notification {
  display: block;
  justify-content: center;
  align-items: center;
  padding: 5px;
  position: relative;
  cursor: pointer;
}

.notifcation-circle {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  background: rgb(211, 104, 104);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);
  animation: pulse 2s infinite;
  position: absolute;
  right: 2px;
  top: 0;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(211, 104, 104, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(210, 104, 104, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(210, 104, 104, 0);
  }
}

#page-header-notification:hover #mail-box {
  display: block;
}

#sub-messages-wrap {
  position: absolute;
  top: 100%;
  width: 310px;
}
#mail-box {
  display: none;
  background: #fff;
  border: 1px solid grey;
  border-top: none;
  padding: 10px;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.new-message {
  display: flex;
  margin-top: 5px;
}

.new-message:hover {
  transform: translateX(5px);
}
.sender-profile {
  display: block;
  width: 44px;
  /* justify-content: center; */
  /* align-items: center; */
}

.sender-img {
  width: 25px;
  height: 25px;
  margin-left: 20%;
}

.sender-message {
  display: flex;
  margin-left: 10px;
}

#authorized-user {
  display: block;
  padding: 5px;
}

#page-header-username {
  margin-top: auto;
  margin-bottom: auto;
}

#authorized-user:hover #user-options {
  display: block;
}

#authorized-user .user-name {
  display: flex;
}

#user-options {
  display: none;
  position: absolute;
  top: 100%;
  width: 130px;
  height: auto;
  border: 1px solid #000;
  background-color: #fff;
  border-top: none;
}
#user-options-links li {
  list-style-type: none;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 20px;
  color: #000;
}

.sender-message::before {
  content: "";
  border-left: 10px solid transparent;
  border-bottom: 10px solid gray;
  margin-top: auto;
  margin-bottom: auto;
}
.message-rectangle {
  width: 210px;
  height: auto;
  border: 1px solid rgb(68, 68, 68);
  border-radius: 10px;
  background-color: gray;
  padding: 5px;
}

#page-header-profile-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
  margin-right: 1vh;
}

.wrapper {
  display: flex;
  position: relative;
}

.wrapper .nav-sidebar-menu {
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 50px;
  padding: 10px;
  width: 120px;
}

.nav-sidebar-menu .nav-links a {
  text-decoration: none;
  color: black;
}

.nav-sidebar-menu ul li {
  list-style-type: none;
  margin-bottom: 10px;
  font-size: 18px;
}

.students-content {
  margin-left: 15px;
  margin-top: 20px;
  width: 85%;
}

.selected-item {
  display: flex;
  justify-content: space-between;
}

#students-title {
  font-weight: bold;
  font-size: 25px;
}

.add-button {
  margin-bottom: 5px;
  float: inline-end;
}
.add-button button {
  color: black;
  font-weight: 600;
  padding: 5px 15px;
  cursor: pointer;
}

.students-table-layout {
  width: 100%;
}
.option-buttons {
  display: flex;
  justify-content: center;
}
.option-buttons button {
  margin-left: 10px;
  padding: 5px 15px;
  cursor: pointer;
}
#students-table {
  width: 100%;
  border-collapse: collapse;
  letter-spacing: 1px;
}

.table {
  text-align: center;
}

.student-status {
  margin-left: auto;
  margin-right: auto;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.student-status.online {
  border: 1px solid green;
  background-color: rgb(0, 85, 0);
}

.student-status.offline {
  border: 1px solid black;
  background-color: rgb(83, 83, 83);
}

input[type="checkbox"] {
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;
}

.remove-student-warning-container {
  font-size: 1.2rem;
  display: block;
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  z-index: 2;
  height: 250px;
  width: 450px;
  align-items: center;
  justify-content: center;
}

#rm-warning-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 10px;
}

#warning-caption {
  font-size: larger;
  margin-top: 5px;
  margin-left: 20px;
  font-weight: bold;
}

#warning-close-button {
  padding: 5px 15px;
}

#rm-warning-wrapper {
  display: grid;
  place-content: center;
  padding: 20px;
  border: 1px solid #000;
  height: 50%;
  border-left: none;
  border-right: none;
}

#rm-warning-footer {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-top: 10px;
  margin-right: 5px;
}

#warning-confirmation-buttons {
  display: flex;
  justify-content: center;
}

#warning-confirmation-buttons button {
  font-weight: 500;
  color: black;
  margin-left: 10px;
  margin-right: 10px;
}

#errorMessage {
  border-radius: 10px;
  margin-top: 38vh;
  top: 50%;
  left: 36%;
  width: 400px;
  z-index: 4;
}

.add-student-container {
  font-size: 1.2rem;
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  z-index: 2;
  height: 560px;
  width: 450px;
  align-items: center;
  justify-content: center;
}

#add-student-form {
  width: inherit;
  height: inherit;
}

.add-student-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-bottom: 10%;
}

#add-student-close {
  display: flex;
  padding: 10px;
}

#add-student-close button {
  padding: 5px 15px;
}
#add-student-header-caption {
  font-size: larger;
  margin-top: 30px;
  margin-left: 20px;
  font-weight: bold;
}

.add-student-wrapper {
  display: flex;
  padding-top: 50px;
  padding-bottom: 100px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  border-left: none;
  border-right: none;
}

.add-student-blank {
  display: grid;
  place-content: center;
}
.add-student-blank label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.add-student-blank select {
  width: 10px;
  margin-left: 50px;
}

.add-student-blank input {
  width: 200px;
  margin-left: 10px;
}

.add-student-footer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: right;
  margin-left: auto;
}

#adding-confirmation-buttons {
  display: flex;
  place-items: center;
}

#adding-confirmation-buttons button {
  font-size: small;
  margin-right: 10px;
  padding: 5px 15px;
}

.table-pagination {
  margin-top: 40px;
  display: grid;
  place-content: center;
}

.pagination {
  display: inline-block;
}

.pagination a {
  text-decoration: none;
  color: black;
  float: left;
  padding: 6px 12px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #787a78;
  color: white;
  border: 1px solid #232723;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.pagination a:visited {
  color: #000;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 1;
  transition: all 0.5s;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

@media screen and (max-width: 600px) {
  .add-button button {
    padding: 5px 15px;
  }

  .wrapper {
    display: block;
  }

  .remove-student-warning-container {
    display: block;
    height: 220px;
    width: 270px;
  }

  #rm-warning-wrapper {
    display: grid;
    place-content: center;
    padding-bottom: 10px;
    height: 55%;
  }

  #rm-warning-footer {
    height: 30px;
  }
  #rm-warning-footer button {
    padding: 4px 10px;
    margin-bottom: 10px;
  }

  .add-student-container {
    height: 440px;
    width: 250px;
  }

  #add-student-close button {
    padding: 1px 5px;
  }
  #add-student-header-caption {
    font-size: 20px;
    margin-top: 30px;
    margin-left: 20px;
    font-weight: bold;
  }

  .add-student-wrapper {
    height: 60%;
    font-size: 14px;
  }

  .add-student-blank {
    display: grid;

    /* place-content: center; */
    /* padding: 10px; */
    /* justify-content: space-between; */
    margin-top: 30px;
    width: 250px;
    height: 190px;
  }
  .add-student-blank label {
    margin-top: 10px;
    margin-left: 10px;
    width: 220px;
    height: 32px;
  }

  .add-student-blank input {
    font-size: 16px;
    width: 170px;
    height: 40px;
  }
  .add-student-blank select {
    font-size: 14px;
    width: 250px;
  }

  .add-student-blank input[type="date"] {
    width: 200px;
    height: 40px;
  }
  #adding-confirmation-buttons {
    height: 20%;
    margin-bottom: 10px;
  }

  #adding-confirmation-buttons button {
    font-size: 15px;
    margin-right: 15px;
    padding: 1px 5px;
  }

  .table-pagination {
    display: grid;
    place-content: center;
    width: 250px;
  }
  .table-pagination button {
    float: inline-end;
  }
}
